<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:remove="all">Template for HTML email with inline image</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <h2 th:text="'Kedves ' + ${email.name} + '!'">
            Hello!
        </h2>
        <p>A CAR RENTAL Csapata köszönti Önt!</p>
        <p>
            Ezt az üzenetet azért küldtük Önnek, mert cégünknél, a Car Rental Company-nál,
            érvényes foglalást adott le.
        </p>
        <p>
            Foglalásának adatai:
        </p>
        <div>
            <p>A bérlés tervezett kezdete: <span data-th-text="${email.startDate}"></span></p>
            <p>A bérlés tervezett vége: <span data-th-text="${email.endDate}"></span></p>
            <p>Az átvétel tervezett helye: <span data-th-text="${email.receivePlace}"></span></p>
            <p>A leadás tervezett helye: <span data-th-text="${email.resumptionPlace}"></span></p>
            <p>A foglalt gékocsi típusa: <span data-th-text="${email.carType}"></span></p>
            <p>A gépkocsi napi ára: <span data-th-text="${email.carUnitPrice}"></span> Ft</p>
             <p>A gépkocsi várható össz ára: <span data-th-text="${email.carFullDaysPrice}"></span> Ft</p>
        </div>

        <div>
            <h4>Foglalás lemondása</h4>
        <p>
            Amennyiben foglalását valamilyen okból le kívánja mondani,
            azt a következő kód a segítségével teheti meg.
        </p>
            <h2><a data-th-href="'http://localhost:8080/storno/'+${email.hash}" data-th-text="${email.hash}"></a></h2>
        </div>
        <h4>
            A foglalás lemondásához kövesse az alábbi lépéseket:
        </h4>
        <ul>
            <li>1: Kattintson a fenti kódra</li>
            <li>2: A megjelenő oldalon ellenőrizze adatai helyességét</li>
            <li>3: Amennyiben az adatok megfelelőek, kattintson a "Foglalás lemondása gombra"</li>
            <li>4: A felugró ablakban erősítse meg szándékát</li>
        </ul>
        
        <h3>Köszönjük foglalását!</h3>
        <p>A Car Rental Csapata</p>
    </body>
</html>
