/*------------------------------------------
Project Name : Car Rental
Desgined By  : eCreative solutions
Developed By : sharjeel;
Date        :  01/February/18;

Table Of Index
------------------
1. Base css
2. Typography css
3. Header css
4. Banner css
5. Booking Form css
6. About Us css
7. Counter css
8. Services css
9. Support Team css
10. Testimonials css
11. Blog css
12. contact form css
13. Footer css
14. Media Quries css
------------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Roboto:300,400,500,700');
html, body {
	min-height: 100%;
}
body {
	background: #ffffff;
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: 400;
	overflow-x: hidden;
}
/*---------------------------------------
   Typorgraphy              
-----------------------------------------*/

h1, h2, h3, h4, h5, h6 {
	font-family: 'Roboto', sans-serif;
}
h1, h2, h4 {
	font-weight: 500;
}
h1 {
	font-size: 50px;
}
h2 {
	color: #272727;
	font-size: 36px;
	line-height: 52px;
	margin: 0px;
}
h3 {
	font-size: 16px;
	line-height: 32px;
}
h4 {
	color: #454545;
	font-size: 18px;
	line-height: 26px;
}
h5 {
	letter-spacing: 0.5px;
}
p {
	color: #777;
	font-size: 16px;
	font-weight: 300;
	line-height: 25px;
}
ul, ol {
	list-style: none;
	padding: 0;
	margin: 0;
}
img {
	max-width: 100%;
}
/*---------------------------------------
   Buttons               
-----------------------------------------*/

.btn-success:focus {
	background-color: #000;
	color: #ffffff;
}
.section-btn {
	background: #f9c200;
	border-radius: 0;
	color: #ffffff;
	font-size: 18px;
	font-weight: 700;
	padding: 12px 30px;
	margin-top: 22px;
	text-transform: uppercase;
	border: none;
}
.section-btn:focus, .section-btn:hover {
	background: #fff;
	color: #333;
}
/*---------------------------------------
   General               
-----------------------------------------*/

html {
	-webkit-font-smoothing: antialiased;
}
a {
	transition: ease-in-out 0.3s;
	-webkit-transition: ease-in-out 0.3s;
	-moz-transition: ease-in-out 0.3s;
	-ms-transition: ease-in-out 0.3s;
	color: #f9c200;
	text-decoration: none !important;
}
a:hover, a:active, a:focus {
	color: #f9c200;
	outline: none;
}
* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
*:before, *:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.parallax-section {
	background-attachment: fixed !important;
	background-size: cover !important;
}
.section-title {
	margin: 0;
	padding-bottom: 50px;
	text-align: center;
}
.section-title h3 {
	position: relative;
	font-size: 40px;
	margin-bottom: 50px;
	text-transform: uppercase;
	font-weight: 700;
	line-height: 42px;
}
.section-title h3:after {
	content: '';
	background: #f9c200;
	height: 2px;
	width: 60px;
	position: absolute;
	bottom: -30px;
	left: 50%;
	margin-left: -30px;
}
.section-title h3:before {
	content: '';
	background: #f9c200;
	height: 9px;
	width: 4px;
	position: absolute;
	bottom: -33px;
	left: 50%;
	margin-left: -2px
}
.section-title h3 span {
	color: #f9c200;
	font-weight: 400;
}
.section-title p {
	max-width: 800px;
	margin: auto;
}
.parallax-section {
	padding: 70px 0;
	position: relative;
}
#counter, #service, #contact, #address {
	text-align: center;
}
/*---------------------------------------
     Preloader section              
-----------------------------------------*/
.preloader {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 99999;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	background: none repeat scroll 0 0 #ffffff;
}
.cssload-dots {
	width: 0;
	height: 0;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	outline: 1px solid red;
	filter: url(style.css);
	-o-filter: url(style.css);
	-ms-filter: url(style.css);
	-webkit-filter: url(style.css);
	-moz-filter: url(style.css);
}
.cssload-dot {
	width: 0;
	height: 0;
	position: absolute;
	left: 0;
	top: 0;
}
.cssload-dot:before {
	content: "";
	width: 34px;
	height: 34px;
	border-radius: 49px;
	background: rgb(15,229,143);
	position: absolute;
	left: 50%;
	transform: translateY(0);
	-o-transform: translateY(0);
	-ms-transform: translateY(0);
	-webkit-transform: translateY(0);
	-moz-transform: translateY(0);
	margin-left: -17.5px;
	margin-top: -17.5px;
}
.cssload-dot:nth-child(5):before {
	z-index: 100;
	width: 44.5px;
	height: 44.5px;
	margin-left: -21.75px;
	margin-top: -21.75px;
	animation: cssload-dot-colors 4.6s ease infinite;
	-o-animation: cssload-dot-colors 4.6s ease infinite;
	-ms-animation: cssload-dot-colors 4.6s ease infinite;
	-webkit-animation: cssload-dot-colors 4.6s ease infinite;
	-moz-animation: cssload-dot-colors 4.6s ease infinite;
}
.cssload-dot:nth-child(1) {
	animation: cssload-dot-rotate-1 4.6s 0s linear infinite;
	-o-animation: cssload-dot-rotate-1 4.6s 0s linear infinite;
	-ms-animation: cssload-dot-rotate-1 4.6s 0s linear infinite;
	-webkit-animation: cssload-dot-rotate-1 4.6s 0s linear infinite;
	-moz-animation: cssload-dot-rotate-1 4.6s 0s linear infinite;
}
.cssload-dot:nth-child(1):before {
	background-color: rgb(255,50,112);
	animation: cssload-dot-move 4.6s 0s ease infinite;
	-o-animation: cssload-dot-move 4.6s 0s ease infinite;
	-ms-animation: cssload-dot-move 4.6s 0s ease infinite;
	-webkit-animation: cssload-dot-move 4.6s 0s ease infinite;
	-moz-animation: cssload-dot-move 4.6s 0s ease infinite;
}
.cssload-dot:nth-child(2) {
	animation: cssload-dot-rotate-2 4.6s 1.15s linear infinite;
	-o-animation: cssload-dot-rotate-2 4.6s 1.15s linear infinite;
	-ms-animation: cssload-dot-rotate-2 4.6s 1.15s linear infinite;
	-webkit-animation: cssload-dot-rotate-2 4.6s 1.15s linear infinite;
	-moz-animation: cssload-dot-rotate-2 4.6s 1.15s linear infinite;
}
.cssload-dot:nth-child(2):before {
	background-color: rgb(32,139,241);
	animation: cssload-dot-move 4.6s 1.15s ease infinite;
	-o-animation: cssload-dot-move 4.6s 1.15s ease infinite;
	-ms-animation: cssload-dot-move 4.6s 1.15s ease infinite;
	-webkit-animation: cssload-dot-move 4.6s 1.15s ease infinite;
	-moz-animation: cssload-dot-move 4.6s 1.15s ease infinite;
}
.cssload-dot:nth-child(3) {
	animation: cssload-dot-rotate-3 4.6s 2.3s linear infinite;
	-o-animation: cssload-dot-rotate-3 4.6s 2.3s linear infinite;
	-ms-animation: cssload-dot-rotate-3 4.6s 2.3s linear infinite;
	-webkit-animation: cssload-dot-rotate-3 4.6s 2.3s linear infinite;
	-moz-animation: cssload-dot-rotate-3 4.6s 2.3s linear infinite;
}
.cssload-dot:nth-child(3):before {
	background-color: rgb(175,225,2);
	animation: cssload-dot-move 4.6s 2.3s ease infinite;
	-o-animation: cssload-dot-move 4.6s 2.3s ease infinite;
	-ms-animation: cssload-dot-move 4.6s 2.3s ease infinite;
	-webkit-animation: cssload-dot-move 4.6s 2.3s ease infinite;
	-moz-animation: cssload-dot-move 4.6s 2.3s ease infinite;
}
.cssload-dot:nth-child(4) {
	animation: cssload-dot-rotate-4 4.6s 3.45s linear infinite;
	-o-animation: cssload-dot-rotate-4 4.6s 3.45s linear infinite;
	-ms-animation: cssload-dot-rotate-4 4.6s 3.45s linear infinite;
	-webkit-animation: cssload-dot-rotate-4 4.6s 3.45s linear infinite;
	-moz-animation: cssload-dot-rotate-4 4.6s 3.45s linear infinite;
}
.cssload-dot:nth-child(4):before {
	background-color: rgb(251,211,1);
	animation: cssload-dot-move 4.6s 3.45s ease infinite;
	-o-animation: cssload-dot-move 4.6s 3.45s ease infinite;
	-ms-animation: cssload-dot-move 4.6s 3.45s ease infinite;
	-webkit-animation: cssload-dot-move 4.6s 3.45s ease infinite;
	-moz-animation: cssload-dot-move 4.6s 3.45s ease infinite;
}
 @keyframes cssload-dot-move {
 0% {
 transform: translateY(0);
}
 18%, 22% {
 transform: translateY(-68px);
}
 40%, 100% {
 transform: translateY(0);
}
}
 @-o-keyframes cssload-dot-move {
 0% {
 -o-transform: translateY(0);
}
 18%, 22% {
 -o-transform: translateY(-68px);
}
 40%, 100% {
 -o-transform: translateY(0);
}
}
 @-ms-keyframes cssload-dot-move {
 0% {
 -ms-transform: translateY(0);
}
 18%, 22% {
 -ms-transform: translateY(-68px);
}
 40%, 100% {
 -ms-transform: translateY(0);
}
}
 @-webkit-keyframes cssload-dot-move {
 0% {
 -webkit-transform: translateY(0);
}
 18%, 22% {
 -webkit-transform: translateY(-68px);
}
 40%, 100% {
 -webkit-transform: translateY(0);
}
}
 @-moz-keyframes cssload-dot-move {
 0% {
 -moz-transform: translateY(0);
}
 18%, 22% {
 -moz-transform: translateY(-68px);
}
 40%, 100% {
 -moz-transform: translateY(0);
}
}
 @keyframes cssload-dot-colors {
 0% {
 background-color: rgb(15,229,143);
}
 25% {
 background-color: rgb(255,50,112);
}
 50% {
 background-color: rgb(32,139,241);
}
 75% {
 background-color: rgb(175,225,2);
}
 100% {
 background-color: rgb(251,211,1);
}
}
 @-o-keyframes cssload-dot-colors {
 0% {
 background-color: rgb(15,229,143);
}
 25% {
 background-color: rgb(255,50,112);
}
 50% {
 background-color: rgb(32,139,241);
}
 75% {
 background-color: rgb(175,225,2);
}
 100% {
 background-color: rgb(251,211,1);
}
}
 @-ms-keyframes cssload-dot-colors {
 0% {
 background-color: rgb(15,229,143);
}
 25% {
 background-color: rgb(255,50,112);
}
 50% {
 background-color: rgb(32,139,241);
}
 75% {
 background-color: rgb(175,225,2);
}
 100% {
 background-color: rgb(251,211,1);
}
}
 @-webkit-keyframes cssload-dot-colors {
 0% {
 background-color: rgb(15,229,143);
}
 25% {
 background-color: rgb(255,50,112);
}
 50% {
 background-color: rgb(32,139,241);
}
 75% {
 background-color: rgb(175,225,2);
}
 100% {
 background-color: rgb(251,211,1);
}
}
 @-moz-keyframes cssload-dot-colors {
 0% {
 background-color: rgb(15,229,143);
}
 25% {
 background-color: rgb(255,50,112);
}
 50% {
 background-color: rgb(32,139,241);
}
 75% {
 background-color: rgb(175,225,2);
}
 100% {
 background-color: rgb(251,211,1);
}
}
 @keyframes cssload-dot-rotate-1 {
 0% {
 transform: rotate(-105deg);
}
 100% {
 transform: rotate(270deg);
}
}
 @-o-keyframes cssload-dot-rotate-1 {
 0% {
 -o-transform: rotate(-105deg);
}
 100% {
 -o-transform: rotate(270deg);
}
}
 @-ms-keyframes cssload-dot-rotate-1 {
 0% {
 -ms-transform: rotate(-105deg);
}
 100% {
 -ms-transform: rotate(270deg);
}
}
 @-webkit-keyframes cssload-dot-rotate-1 {
 0% {
 -webkit-transform: rotate(-105deg);
}
 100% {
 -webkit-transform: rotate(270deg);
}
}
 @-moz-keyframes cssload-dot-rotate-1 {
 0% {
 -moz-transform: rotate(-105deg);
}
 100% {
 -moz-transform: rotate(270deg);
}
}
 @keyframes cssload-dot-rotate-2 {
 0% {
 transform: rotate(165deg);
}
 100% {
 transform: rotate(540deg);
}
}
 @-o-keyframes cssload-dot-rotate-2 {
 0% {
 -o-transform: rotate(165deg);
}
 100% {
 -o-transform: rotate(540deg);
}
}
 @-ms-keyframes cssload-dot-rotate-2 {
 0% {
 -ms-transform: rotate(165deg);
}
 100% {
 -ms-transform: rotate(540deg);
}
}
 @-webkit-keyframes cssload-dot-rotate-2 {
 0% {
 -webkit-transform: rotate(165deg);
}
 100% {
 -webkit-transform: rotate(540deg);
}
}
 @-moz-keyframes cssload-dot-rotate-2 {
 0% {
 -moz-transform: rotate(165deg);
}
 100% {
 -moz-transform: rotate(540deg);
}
}
 @keyframes cssload-dot-rotate-3 {
 0% {
 transform: rotate(435deg);
}
 100% {
 transform: rotate(810deg);
}
}
 @-o-keyframes cssload-dot-rotate-3 {
 0% {
 -o-transform: rotate(435deg);
}
 100% {
 -o-transform: rotate(810deg);
}
}
 @-ms-keyframes cssload-dot-rotate-3 {
 0% {
 -ms-transform: rotate(435deg);
}
 100% {
 -ms-transform: rotate(810deg);
}
}
 @-webkit-keyframes cssload-dot-rotate-3 {
 0% {
 -webkit-transform: rotate(435deg);
}
 100% {
 -webkit-transform: rotate(810deg);
}
}
 @-moz-keyframes cssload-dot-rotate-3 {
 0% {
 -moz-transform: rotate(435deg);
}
 100% {
 -moz-transform: rotate(810deg);
}
}
 @keyframes cssload-dot-rotate-4 {
 0% {
 transform: rotate(705deg);
}
 100% {
 transform: rotate(1080deg);
}
}
 @-o-keyframes cssload-dot-rotate-4 {
 0% {
 -o-transform: rotate(705deg);
}
 100% {
 -o-transform: rotate(1080deg);
}
}
 @-ms-keyframes cssload-dot-rotate-4 {
 0% {
 -ms-transform: rotate(705deg);
}
 100% {
 -ms-transform: rotate(1080deg);
}
}
 @-webkit-keyframes cssload-dot-rotate-4 {
 0% {
 -webkit-transform: rotate(705deg);
}
 100% {
 -webkit-transform: rotate(1080deg);
}
}
 @-moz-keyframes cssload-dot-rotate-4 {
 0% {
 -moz-transform: rotate(705deg);
}
 100% {
 -moz-transform: rotate(1080deg);
}
}
/*---------------------------------------
     Navigation section              
-----------------------------------------*/
.sticky-wrapper {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1000
}
.navbar {
	border-radius: 0;
}
.custom-navbar {
	border: none;
	margin-bottom: 0;
	padding: 6px 0;
	width: 100%;
}
.is-sticky .custom-navbar {
	background: #fff;
	-moz-box-shadow: 0 10px 33px rgba(0,0,0,.1);
	-webkit-box-shadow: 0 10px 33px rgba(0,0,0,.1);
	box-shadow: 0 10px 33px rgba(0,0,0,.1);
}
.custom-navbar .navbar-brand {
	color: #fff;
	font-weight: bold;
	font-size: 32px;
	line-height: 35px;
}
.custom-navbar .navbar-brand span {
	color: #f9c200;
}
.custom-navbar .nav li a {
	font-size: 14px;
	font-weight: bold;
	color: #fff;
	line-height: 40px;
	letter-spacing: 0.3px;
	padding-right: 20px;
	padding-left: 20px;
	-webkit-transition: all ease-in-out 0.4s;
	transition: all ease-in-out 0.4s;
}
.custom-navbar .nav li a:hover {
	background: transparent;
	color: #ffffff;
}
.custom-navbar .nav li .calltxt {
	font-size: 16px;
	font-weight: bold;
	color: #fff;
	display: block;
	margin-top: 15px;
	border: 1px dashed #fff;
	padding: 7px 20px;
	-webkit-transition: all ease-in-out 0.4s;
	transition: all ease-in-out 0.4s;
}
.is-sticky .custom-navbar .nav li a {
	color: #999;
}
.is-sticky .custom-navbar .nav li a:hover {
	color: #333;
}
.is-sticky .custom-navbar .navbar-brand {
	color: #f9c200;
	line-height: 20px;
}
.is-sticky .custom-navbar .navbar-brand span {
	color: #333;
}
.is-sticky .custom-navbar .nav li .calltxt {
	background: #f9c200;
	border-color: #f9c200;
	margin-top: 10px;
	color: #fff;
}
.custom-navbar .navbar-nav > li > a:hover, .custom-navbar .navbar-nav > li > a:focus {
	background-color: transparent;
}
.custom-navbar .nav li.active > a {
	background-color: transparent;
	color: #f9c200;
}
.custom-navbar .navbar-toggle {
	border: none;
	padding-top: 10px;
}
.custom-navbar .navbar-toggle {
	background-color: transparent;
}
.custom-navbar .navbar-toggle .icon-bar {
	background: #f9c200;
	border-color: transparent;
}
.navbar-collapse.in {
	overflow: visible;
	max-height: none;
	background: #f9c200;
	padding: 0 30px;
}
.navbar-collapse.in .nav li.active a {
	color: #000;
}
.is-sticky .custom-navbar .nav li a {
	line-height: 24px;
}
 @media(min-width:768px) {
.custom-navbar {
	border-bottom: 0;
}

.custom-navbar.top-nav-collapse {
	background: rgba(0,0,0,0.7);
	padding: 6px 0;
}
}
/*---------------------------------------
    Home section              
-----------------------------------------*/

#home {
	background: url(../images/home-bg.jpg) no-repeat bottom;
	background-size: cover;
	color: #ffffff;
	position: relative;
	text-align: center;
	min-height: 800px;
}
#home h3 {
	color: #f0f0f0;
}
#home .overlay {
	background: rgba(0,0,0,0.3);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.slide-text {
	margin-top: 170px;
}
.slide-text h1 {
	margin-top: 0;
}
.slide-text h3 {
	font-size: 30px;
}
.slide-text p {
	color: #fff;
	line-height: 24px;
	max-width: 770px;
	margin: 20px auto;
}
#js-rotating {
	border: 1px solid #fff;
	padding: 10px 20px;
	display: inline-block;
}
/*Banner Form*/
.bformBox {
	background: #f9c200;
	padding: 40px;
	margin-top: -120px;
	position: relative;
	z-index: 100;
	box-shadow: 0px 0px 20px rgba(0,0,0,0.2);
}
.bformBox.nomr {
	margin-top: 0;
}
.bformBox h3 {
	color: #fff;
	margin: 0 0 30px 0;
	text-align: center;
	font-size: 36px;
	font-weight: 700;
}
.bformBox .formrow {
	margin-bottom: 20px;
}
.bformBox .formrow .form-control {
	height: auto;
	border-radius: 0;
	padding: 10px 15px;
	font-size: 22px;
	border-color: #ddd;
	box-shadow: none;
	color: #999;
	border: none;
	background: #fff;
}
.bformBox .formrow textarea.form-control {
	height: 100px;
}
.bformBox .formrow .bootstrap-select {
	padding: 0;
	background: none;
}
.bformBox .formrow .dropdown-toggle {
	padding: 10px 15px;
	border-radius: 0;
	font-size: 22px;
	color: #999;
	border: none;
	z-index: 1;
}
.bformBox .formrow .dropdown-toggle:hover, .bformBox .formrow .dropdown-toggle:active, .bformBox .formrow .dropdown-toggle:focus {
	background: #fff;
}
.bformBox .input-group-addon {
	background: #eee;
	color: #444;
	font-size: 16px;
	border-color: #eee;
	padding: 6px 20px;
}
.formrow .dropdown-menu .form-control {
	border: 1px solid #ddd;
	font-size: 16px;
	margin-bottom: 10px;
}
.formbtn {
	text-align: center;
	margin-top: 10px;
}
.formbtn .btn {
	background: #333;
	font-size: 18px;
	color: #fff;
	padding: 12px 30px;
	text-transform: uppercase;
	border-radius: 0;
	font-weight: 700;
}
.formbtn .btn:hover {
	background: rgba(0,0,0,0.5);
}
/*---------------------------------------
   Cars List section              
-----------------------------------------*/
.vehiclesList ul li h3 {
	font-size: 30px;
	font-weight: 700;
	text-transform: uppercase;
	color: #f9c200;
	margin: 30px 0 0 0;
}
.vehiclesList ul li .subtitle {
	color: #888;
	text-transform: uppercase;
	font-size: 14px;
	margin-bottom: 20px;
	position: relative;
	padding-bottom: 20px;
}
.vehiclesList ul li .subtitle:after {
	position: absolute;
	width: 40px;
	height: 5px;
	background: #f9c200;
	content: '';
	left: 0;
	bottom: 0;
}
.vehiclesList ul li .btn {
	display: block;
	background: #333;
	margin-top: 20px;
	color: #fff;
	text-transform: uppercase;
	border-radius: 0;
	padding: 15px 30px;
	font-size: 18px;
}
.vehiclesList ul li .btn:hover {
	background: #f9c200;
}
.carPrice strong {
	font-size: 48px;
	line-height: 48px;
}
.carPrice span {
	font-size: 14px;
	vertical-align: top;
	color: #999;
	display: inline-block;
	margin-top: 5px;
}
.carinfo {
	background: #f9c200;
	padding: 20px;
	box-shadow: 5px 5px 5px rgba(0,0,0,0.1);
}
.carinfo ul li {
	font-size: 14px;
	color: #fff;
	border-bottom: 1px solid rgba(255,255,255,0.3);
	padding: 10px 0
}
.carinfo ul li:last-child {
	border-bottom: 0;
}
.carinfo ul li strong {
	float: right;
}
/*---------------------------------------
   Counter section              
-----------------------------------------*/

#counter {
	background: url(../images/counter-bg.jpg) no-repeat center;
	background-size: cover;
	padding: 60px 0
}
.animatebg {
	background: #0562da;
	-webkit-animation: bannerbg 5s linear 2s infinite alternate; /* Safari 4.0 - 8.0 */
	animation: bannerbg 5s linear 2s infinite alternate;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes bannerbg {
 0% {
background-color:#0562da;
}
 25% {
background-color:#fec107;
}
 50% {
background-color:#c90157;
}
 75% {
background-color:#f9c200;
}
 100% {
background-color:#f9c200;
}
}

/* Standard syntax */
@keyframes bannerbg {
 0% {
background-color:#0562da;
}
 25% {
background-color:#fec107;
}
 50% {
background-color:#c90157;
}
 75% {
background-color:#f9c200;
}
 100% {
background-color:#f9c200;
}
}
#counter .counter-number {
	display: block;
	color: #fff;
	font-size: 60px;
	line-height: 60px;
}
#counter span {
	color: #999;
	font-weight: 400;
	text-transform: uppercase;
}
.counter-icon {
	font-size: 60px;
	margin-bottom: 5px;
	color: #f9c200;
}
/*********************************************
		Revolution slider options
**********************************************/
.tp-banner-container {
	position: relative;
        z-index:0;
	padding: 0;
	width: 100%;
}
.tp-banner {
	position: relative;
	width: 100%;
}
.tp-banner ul {
	padding: 0;
	margin: 0;
}
.tp-caption {
	line-height: normal !important
}
.tp-caption a {
	color: inherit !important;
}
.tp-bullets.simplebullets.round .bullet {
	border: 3px #fff solid;
	border-radius: 50%;
	background-image: none !important;
}
.tparrows {
	width: auto !important;
	height: auto !important;
	background-image: none !important;
}
.tp-arr-allwrapper {
	margin: 0 10px;
	width: 50px;
	height: 60px;
}
.tp-arr-allwrapper:hover .tp-arr-iwrapper {
	color: #fff;
}
.tp-leftarrow .tp-arr-allwrapper {
}
.tp-rightarrow .tp-arr-allwrapper {
}
.tp-arr-iwrapper {
	color: #fff;
	text-align: center;
	font-size: 30px;
	font-family: 'FontAwesome';
	line-height: 60px;
}
.tp-leftarrow .tp-arr-iwrapper {
}
.tp-leftarrow .tp-arr-iwrapper:before {
	content: "\f104";
}
.tp-rightarrow .tp-arr-iwrapper:before {
	content: "\f105";
}
.tp-rightarrow .tp-arr-iwrapper {
}
.slide-h1 {
	margin: 5px 0 !important;
	padding: 0 0 10px !important;
	padding-bottom: 5px !important;
	color: #444;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 57px;
}
.slide-h2 {
	margin: 5px 0 !important;
	padding: 0 0 10px !important;
	padding-bottom: 5px !important;
	color: #555;
	font-weight: bold;
	font-size: 55px;
	line-height: 100%;
}
.big-font {
	text-transform: uppercase;
	font-weight: 800;
	font-size: 60px;
}
.large-desc {
	font-size: 16px;
}
.slide-h3 {
	color: #fff;
	font-size: 31px;
	line-height: 100%;
}
.slide-h3 span {
	text-transform: uppercase;
	font-weight: bold;
}
.slide-head {
	text-transform: uppercase;
	font-weight: 900;
	font-size: 30px;
}
.slide-desc {
	font-size: 22px;
	line-height: 150%;
}
.main-title {
	text-transform: uppercase;
	font-weight: 800;
	font-size: 70px;
}
.icon-cont {
	padding: 15px 40px;
	border-radius: 10px;
	text-align: center;
}
.icon-cont:after {
	position: absolute;
	bottom: -10px;
	left: 40%;
	z-index: 5;
	display: inline-block;
	width: 0;
	height: 0;
	border-width: 10px 10px 0 10px;
	border-style: solid;
	content: "";
}
.icon-cont i {
	margin-bottom: 10px;
	color: #fff;
	font-size: 50px;
}
.icon-cont span {
	display: block;
	padding: 0 0 5px;
	color: #fff;
	text-align: center;
	font-size: 18px;
}
a.wit-btn {
	background: #fff;
	color: #333 !important;
	text-transform: uppercase;
}
.wit-line {
	width: 5%;
	height: 1px;
	background: #fff;
}
.vert-line {
	min-height: 270px;
	width: 1px;
	background: #fff;
}
.subTxt {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 17px;
	color: #333;
}
.large-title {
	color: #222;
	font-size: 60px;
	font-weight: 800;
	text-transform: uppercase !important;
}
.large-light-title {
	color: #787878 !important;
	font-size: 70px;
	font-weight: lighter;
	text-transform: uppercase;
	letter-spacing: 2px
}
.large-text {
	font-size: 20px;
	color: #000;
	font-weight: lighter;
}
.larger-text {
	font-size: 24px;
	font-weight: lighter;
	text-transform: uppercase;
}
.witTxt {
	color: #fff !important;
}
.light-font {
	font-weight: lighter !important;
	font-size: 50px;
}
.black-bg {
	background: rgba(0,0,0,.63);
	color: #a8a8a8;
	text-transform: none;
}
.lft-list {
	padding: 10px;
	font-size: 18px;
	color: #fff;
}
.wit-border {
	border: 1px #fff solid;
	padding: 15px 60px;
	color: #fff;
	font-size: 16px;
	text-transform: uppercase;
}
.rounded-bord {
	margin-right: 15px;
	border: 1px #fff solid;
	width: 30px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	font-size: 13px;
	border-radius: 50%;
}
#vertical-ticker {
	height: 120px;
	overflow: hidden;
}
#vertical-ticker li {
	padding: 15px 20px;
	display: block;
	text-align: center;
}
.to-bottom i.fa {
	font-size: 30px;
	border: 2px #a8a8a8 solid;
	padding: 20px 22px;
	border-radius: 50%;
	-webkit-animation: bounce 2s infinite linear;
	animation: bounce 2s infinite linear;
}
.slidertext1 {
	color: #fff;
	font-size: 50px;
	font-weight: 700;
	padding: 15px 0;
	text-transform: none !important;
	font-family: 'Roboto', sans-serif;
}
.slidertext1 span {
	color: #f9c200;
}
.slidertext2 {
	color: #fff;
	font-size: 24px;
	font-weight: 700;
	padding: 15px 0;
	text-transform: none;
	font-family: 'Roboto', sans-serif;
}
.sliderpara {
	color: #fff;
	font-size: 18px;
	font-weight: 600;
	padding: 15px 0;
	text-transform: none !important;
}
.sliderbtn a {
	color: #fff !important;
}
.sliderbtn a:hover {
	color: #000 !important;
}
.tp-bannertimer {
	display: none;
}
 @-webkit-keyframes bounce {
 0% {
 transform:translateY(0%);
}
 50% {
 transform:translateY(-30%);
}
 100% {
 transform:translateY(0);
}
}

/* Mozilla Firefox 15 below */
@-moz-keyframes bounce {
 0% {
 transform:translateY(0%);
}
 50% {
 transform:translateY(-30%);
}
 100% {
 transform:translateY(0);
}
}

/* Opera 12.0 */
@-o-keyframes bounce {
 0% {
 transform:translateY(0%);
}
 50% {
 transform:translateY(-30%);
}
 100% {
 transform:translateY(0);
}
}

/* W3, Opera 12+, Firefox 16+ */
@keyframes bounce {
 0% {
 transform:translateY(0%);
}
 50% {
 transform:translateY(-30%);
}
 100% {
 transform:translateY(0);
}
}
/*---------------------------------------
    About section              
-----------------------------------------*/

#about {
	padding: 70px 0;
}
.about-desc h2 {
	font-size: 36px;
	text-align: center;
	color: #272727;
	font-weight: 500;
	margin-bottom: 30px;
}
#about .about-desc h4 {
	margin-top: 0px;
	padding-bottom: 8px;
}
#about .about-desc h3 {
	font-size: 24px;
}
#about .about-desc p {
}
#about .about-desc a {
	color: #565656;
}
#about .about-desc a:hover {
	color: #f9c200;
}
.circleList {
	list-style: none;
}
.circleList li {
	text-align: center;
	margin-bottom: 0;
}
.circleList li .cricle {
	color: #555;
	font-size: 36px;
	text-align: center;
	margin: 0 auto;
	background: #eee;
	padding: 15px 11px;
}
.circleList li .title {
	font-size: 14px;
	margin-top: 10px;
	font-weight: 600;
	margin-bottom: 30px;
	color: #f9c200;
}
#about .team-wrapper {
	position: relative;
	margin: 0;
	padding: 0;
}
#about .team-wrapper h2 {
	color: #353535;
	font-size: 26px;
	line-height: 32px;
}
#about .team-wrapper strong {
	color: #f9c200;
	font-weight: 600;
}
#about .team-wrapper img {
	border-radius: 2px;
	width: 100%;
}
#about .team-wrapper .team-desc {
	background: rgba(250,250,250,0.5);
	position: absolute;
	cursor: crosshair;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	opacity: 0;
	width: 100%;
	height: 100%;
	padding: 20em 4em 0 0;
	transition: all 0.4s ease-in-out;
	text-align: right;
}
#about .team-wrapper:hover .team-desc {
	opacity: 1;
	transform: scale(1.1);
}
ul.orderlist {
	list-style: none;
	margin: 20px 0 0 0;
	padding: 0
}
ul.orderlist li {
	color: #333;
	font-size: 16px;
	position: relative;
	padding: 10px 0;
	padding-left: 45px;
	line-height: 30px;
	font-weight: 600;
}
ul.orderlist li:before {
	content: '\f00c';
	font-family: 'FontAwesome';
	position: absolute;
	left: 0;
	vertical-align: middle;
	color: #fff;
	background: #f9c200;
	padding: 4px 8px;
	line-height: 24px;
	font-weight: 400;
}
/*********************************************
			Services Start
**********************************************/
.servicesbox {
	padding: 100px 0;
}
.servicesbox h3 {
	color: #fff;
	text-transform: uppercase;
	font-size: 36px;
	font-weight: 700;
	margin: 0 0 40px 0;
	position: relative;
}
.servicesbox h3:after {
	content: '';
	background: #f9c200;
	height: 2px;
	width: 60px;
	position: absolute;
	bottom: -20px;
	left: 0;
}
.servicesbox h3:before {
	content: '';
	background: #f9c200;
	height: 9px;
	width: 4px;
	position: absolute;
	bottom: -23px;
	left: 28px;
}
.servicesbox p {
	color: #fff;
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
	line-height: 26px;
	font-weight: 300;
	margin-top: 10px;
}
.servicesbox .readmore {
	display: inline-block;
	padding: 15px 30px;
	color: #fff;
	margin-top: 30px;
	text-transform: uppercase;
	font-weight: 600;
	background: #f9c200;
	border-radius: 0;
}
.servicesbox .readmore i {
	font-weight: 400;
	margin-left: 10px;
}
.servicesbox .readmore:hover {
	background: #fff;
	color: #333;
	text-decoration: none;
}
.dark h3 {
	color: #000;
}
.dark p {
	color: #000;
}
.bg1 {
	background: url(../images/service-bg-1.jpg) no-repeat left;
	background-size: cover;
}
/*---------------------------------------
   			How it works         
-----------------------------------------*/
.howitwrap {
	position: relative;
}
.howitwrap .section-title {
	text-align: left;
	padding-bottom: 15px;
}
.howitwrap .section-title h3:after {
	left: 0;
	margin-left: 0
}
.howitwrap .section-title h3:before {
	left: 26px;
	margin-left: 0
}
.howlist {
	list-style: none;
	margin-bottom: 20px;
}
.howlist li {
	margin-top: 30px;
}
.howlist li .howbox:after {
	display: table;
	clear: both;
	content: '';
}
.howlist li .iconcircle {
	margin-bottom: 15px;
	float: left;
	margin-right: 30px;
	width: 70px;
	height: 70px;
	border-radius: 50%;
	background: #f9c200;
	text-align: center;
	line-height: 50px;
}
.howlist li .iconcircle i {
	font-size: 24px;
	color: #fff;
	margin-top: 22px;
	display: block;
}
.howlist li h4 {
	font-size: 18px;
	font-weight: 700;
	color: #444;
	margin-bottom: 5px;
}
.howlist li p {
	font-size: 16px;
	line-height: 24px;
	color: #555;
}
.fullimg {
	height: 650px;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
	width: 50%;
	float: left;
}
.stcontent {
	float: left;
	padding: 50px;
	width: 50%;
}
/*---------------------------------------
   Service section              
-----------------------------------------*/

#service .service-thumb {
	margin-bottom: 30px;
	background: #f9c200;
	padding: 30px;
	transition: ease-in-out 0.3s;
	-webkit-transition: ease-in-out 0.3s;
	-moz-transition: ease-in-out 0.3s;
	-ms-transition: ease-in-out 0.3s;
}
#service .service-thumb:hover {
	background: #333;
}
#service .service-thumb h4 {
	color: #fff;
	font-size: 24px;
}
#service .thumb-icon {
	background: rgba(0, 0, 0, 0.3);
	width: 70px;
	height: 70px;
	text-align: center;
	margin: 0 auto;
	margin-bottom: 15px;
	margin-top: 10px;
	transition: ease-in-out 0.3s;
	-webkit-transition: ease-in-out 0.3s;
	-moz-transition: ease-in-out 0.3s;
	-ms-transition: ease-in-out 0.3s;
}
#service .service-thumb:hover .thumb-icon {
	background: #f9c200;
}
#service .service-thumb p {
	color: #fff;
	margin-bottom: 0;
}
#service .fa {
	font-size: 24px;
	margin-top: 22px;
	color: #fff;
}
/*---------------------------------------
    Team section              
-----------------------------------------*/
#team {
	background: #fff;
}
#team .thumb-image {
	margin-bottom: 15px;
	overflow: hidden;
	border: 1px solid #f9c200;
	transition: ease-in-out 0.3s;
	-webkit-transition: ease-in-out 0.3s;
	-moz-transition: ease-in-out 0.3s;
	-ms-transition: ease-in-out 0.3s;
}
#team .team-thumb:hover .thumb-image {
	box-shadow: 0 0 15px rgba(0,0,0,0.1);
	border-color: #000;
}
#team .team-thumb h4 {
	margin: 0 0 5px 0;
	color: #000;
	font-size: 24px;
}
#team .team-thumb p {
	padding: 0 15px;
}
#team .team-thumb h5 {
	color: #777;
	margin: 0 0 10px 0;
	font-weight: 400;
}
#team .team-thumb img {
	width: 100%;
}
#team .contct {
	color: #555;
	padding: 6px 0;
	border-top: 1px solid #eee;
}
#team .contct i {
	color: #f9c200;
	margin-right: 7px;
}
/* Social */
.social {
	margin-top: 15px;
	margin-bottom: 20px;
}
.social li a {
	display: block;
	height: 36px;
	width: 36px;
	color: #fff !important;
	line-height: 36px;
	text-align: center;
	text-decoration: none !important;
	background: #f9c200
}
.social li a:hover {
	background: #333;
}
/*---------------------------------------
    Testimonials section              
-----------------------------------------*/
#testimonials {
	color: #fff;
	padding: 50px 0;
	background: #555 url(../images/testimonial-bg.jpg) repeat center;
}
#testimonials h2 {
	color: #555;
}
#testimonials .section-title {
	padding-bottom: 30px;
}
.testimonialsList {
	list-style: none;
}
.testimonialsList li {
	text-align: center;
	margin: 0 0 15px 0;
}
.testimonialsList li .clientname {
	font-size: 24px;
	font-weight: 700;
	color: #fff;
	margin-top: 10px;
}
.testimonialsList li p {
	font-style: italic;
	line-height: 26px;
	color: #ccc;
	max-width: 770px;
	margin: 0 auto;
	font-size: 18px;
}
.testimonialsList li .clientinfo {
	font-weight: 400;
	color: #f9c200;
}
#testimonials .section-title p {
	font-size: 18px;
	color: #fff;
}
.testimonialsList li .rating {
	color: #f9c200;
	font-size: 24px;
	margin-bottom: 10px;
}
/*---------------------------------------
    Taglinewrap section              
-----------------------------------------*/
.taglinewrap {
	background: #f9c200 url(../images/tagline-bg.jpg) no-repeat;
	background-size: cover;
	text-align: center;
	padding: 60px 0;
}
.taglinewrap h2 {
	color: #fff;
	margin-bottom: 15px;
	font-size: 40px;
}
.taglinewrap p {
	color: #ccc;
	max-width: 800px;
	margin: 0 auto;
	font-size: 18px;
	line-height: 26px;
}
.taglinewrap a {
	display: inline-block;
	background: #f9c200;
	padding: 15px 35px;
	color: #fff;
	font-size: 20px;
	font-weight: 600;
	text-transform: uppercase;
	margin-top: 25px;
}
.taglinewrap a:hover {
	background: #fff;
	color: #000;
}
/* =======================
		Blog Grid
======================= */
#blog {
	padding: 60px 0 50px 0;
}
.blogGrid {
	list-style: none;
}
.blogGrid li {
	margin-bottom: 30px;
}
.blogGrid li .postimg {
	position: relative;
	display: block;
	margin: 0;
	overflow: hidden;
}
.blogGrid li .postimg img {
	width: 100%;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.blogGrid li:hover .postimg img {
	-ms-transform: scale(1.2) rotate(5deg);
	-moz-transform: scale(1.2) rotate(5deg);
	-webkit-transform: scale(1.2) rotate(5deg);
	-o-transform: scale(1.2) rotate(5deg);
	transform: scale(1.2) rotate(5deg);
}
.postimg .date {
	font-weight: bold;
	font-size: 15px;
	color: #999;
	line-height: 20px;
}
.blogGrid li .post-header {
	margin-bottom: 15px;
	background: #333;
	padding: 25px;
}
.blogGrid li .post-header .date {
	color: #fff;
	border-bottom: 1px solid rgba(255,255,255,0.15);
	padding-bottom: 10px;
}
.blogGrid li .post-header .date i {
	margin-right: 5px;
}
.blogGrid li .post-header h4 a {
	color: #f9c200;
}
.blogGrid li .post-header h4 a:hover {
	text-decoration: underline;
	color: #fff;
}
.blogGrid li p {
	font-size: 14px;
}
.blogGrid .readmore {
	display: inline-block;
	margin-top: 25px;
	color: #fff;
	font-weight: 600;
	padding: 10px 20px;
	background: #f9c200;
}
.blogGrid .readmore i {
	margin-left: 7px;
}
.blogGrid .readmore:hover {
	text-decoration: none;
	background: #000
}
.postmeta {
	margin: 10px 0 0 0;
	line-height: 24px;
	color: #999;
}
.postmeta span, .postmeta a {
	color: #fff;
	display: inline-block;
	margin-right: 10px;
}
/*---------------------------------------
    Contact section              
-----------------------------------------*/
#contact {
	padding: 50px 0;
}
.contact {
	margin-bottom: 30px;
	border: 1px solid #eee;
	padding: 20px;
	text-align: left;
	background: #f9f9f9;
}
.contact > span {
	color: #f9c200;
	float: left;
	font-size: 30px;
	line-height: 55px;
	text-align: center;
	width: 60px;
	height: 60px;
	border: 1px solid #f9c200;
	background: #fff;
}
.inner-page .fa-home:before {
	content: "\f015";
}
.information {
	margin-top: 5px;
	padding-left: 80px;
}
.information > strong {
	color: #000;
	display: table;
	font-size: 16px;
	font-weight: 700;
	margin-bottom: 5px;
	text-transform: uppercase;
}
.information > p {
	line-height: 22px;
	margin: 0;
}
.contact-form {
	position: relative;
}
.contact-form h4 {
	text-align: left;
	color: #333;
	font-size: 36px;
	margin: 0 0 30px 0;
	text-align: center;
	text-transform: uppercase;
	font-weight: 700;
}
.contact-form h4 span {
	color: #f9c200;
	font-weight: 400;
}
#contact .form-control {
	border-color: transparent;
	border-radius: 0;
	box-shadow: none;
	font-size: 18px;
	margin-bottom: 30px;
	-webkit-transition: all ease-in-out 0.4s;
	transition: all ease-in-out 0.4s;
}
#contact input {
	border: 2px solid #f0f0f0 !important;
	height: 55px;
}
#contact input:focus, #contact textarea:focus {
	border-color: #f9c200 !important;
}
#contact textarea {
	background: #fff;
	border: 2px solid #f0f0f0 !important;
}
#contact button#submit {
	background-color: #f9c200;
	border: none;
	color: #ffffff;
	padding: 10px 30px;
	border-radius: 0;
	height: auto;
	width: 100%;
	font-weight: 700;
	text-transform: uppercase;
}
#contact button#submit:hover {
	background: #555;
	color: #ffffff;
}
#map {
	width: 100%;
	height: 400px;
	border: none;
	display: block;
}
.frmap {
	margin-top: 10px;
}
/*---------------------------------------
    Address section              
-----------------------------------------*/

#address {
	color: #333;
	text-align: left;
	margin-top: 10px;
}
#address .fa {
	font-size: 42px;
	color: #f9c200;
	float: left;
	width: 50px;
	height: 70px;
	margin-right: 15px;
}
#address h4 {
	color: #444;
	margin: 0;
}
#address p {
	color: #888;
	margin-bottom: 0
}
.address-office, .address-phone, .address-email {
	margin-bottom: 30px;
	clear: both;
	border: 1px solid #ddd;
	background: #fff;
	padding: 20px;
	min-height: 120px;
}
/*---------------------------------------
   Newsletter
-----------------------------------------*/
.newsletter {
	background: #f9c200;
	padding: 50px 0;
}
.newsletter h3 {
	margin: 0;
	font-size: 30px;
}
.newsletter h3, .newsletter p {
	color: #fff;
	margin: 0;
}
.newsletter .input-group {
	max-width: 675px;
	margin: 0 auto;
}
.newsletter .input-group:before {
	content: '\f2b7';
	font-family: 'FontAwesome';
	position: absolute;
	left: 20px;
	top: 12px;
	color: #ccc;
	font-size: 24px;
	z-index: 100
}
.newsletter .form-control {
	height: auto;
	padding: 17px 15px 17px 60px;
	font-size: 16px;
	border-radius: 0;
}
.newsletter .btn {
	background: #333;
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
	padding: 16px 30px 17px 30px;
	cursor: pointer;
	border: none;
	color: #fff;
	border-radius: 0;
}
/*---------------------------------------
   Clients
-----------------------------------------*/
.our-clients {
	padding: 50px 0;
	background: #f7f7f7;
}
.our-clients .owl-controls {
	display: none !important;
}
/*---------------------------------------
   Footer section              
-----------------------------------------*/

footer {
	background: #f9c200 url(../images/footer-bg.jpg) no-repeat center;
	background-size: cover;
	padding: 40px 0;
	text-align: center;
}
.socialLinks {
	margin-bottom: 20px;
}
.socialLinks a {
	font-size: 18px;
	color: #fff;
	display: inline-block;
	margin: 0 5px;
	width: 36px;
	height: 36px;
	background: #f9c200;
}
.socialLinks a:hover {
	color: #f9c200;
	background: #fff;
}
.socialLinks a i {
	display: block;
	margin-top: 9px;
}
footer .footer-copyright p {
	color: #fff;
	margin-bottom: 0;
}
.scrollup {
	width: 40px;
	height: 40px;
	position: fixed;
	bottom: 20px;
	right: 20px;
	display: none;
	background-color: #000;
	padding: 5px;
	opacity: 0.5;
	border-radius: 50%;
}
.scrollup i {
	color: #fff;
	display: block;
	line-height: 30px;
	text-align: center;
}
.scrollup:hover {
	opacity: 1;
	text-decoration: none;
}
.successpage {
	width: 100%;
	text-align: center;
	position: fixed;
	left: 0;
	top: 50%;
	margin-top: -170px;
}
.successpage .btn {
	background: #f9c200;
	color: #fff;
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	padding: 10px 20px;
	border-radius: 0;
	margin-top: 25px;
}
.successpage .btn:hover {
	background: #444;
}
.successpage h1 {
	color: #56b50f;
	font-size: 48px;
}
.successpage h1.red {
	color: #ff0000;
}
.successpage h2 {
	font-weight: 300;
	color: #444;
}
.successpage p {
	max-width: 770px;
	margin: 10px auto;
}
/* =======================
		Blog Listing
======================= */
.blogWraper {
	margin-bottom: 40px;
}
.blogList {
	list-style: none;
}
.blogList li {
	background: #fff;
	padding: 20px;
	margin-bottom: 30px;
	border: 1px solid #e4e4e4;
}
.blogList li:hover {
	box-shadow: 0 0 10px rgba(0,0,0,0.1);
	border-color: #f9c200;
}
.blogList li .postimg {
	position: relative;
}
.blogList li .postimg .date {
	width: 60px;
	height: 60px;
	font-weight: bold;
	font-size: 15px;
	color: #fff;
	padding: 7px 10px 0 10px;
	text-align: center;
	line-height: 20px;
	background: #f9c200;
	letter-spacing: 0.4px;
	outline: 3px solid #f9c200;
	border: 1px solid #fff;
	position: absolute;
	left: 14px;
	top: 14px;
	z-index: 12;
}
.post-header {
	margin-bottom: 15px;
}
.post-header h4 a {
	font-size: 24px;
	color: #333;
	font-weight: 600;
}
.post-header h4 a:hover {
	color: #f9c200;
}
.postmeta {
	margin: 10px 0;
	font-size: 14px;
}
.postmeta span, .postmeta a {
	color: #f9c200;
}
.blogList li p {
	font-size: 14px;
	line-height: 24px;
	color: #777;
}
.blogList li .readmore {
	background: #f9c200;
	display: inline-block;
	margin-top: 5px;
	color: #fff;
	font-weight: 600;
	font-size: 13px;
	padding: 10px 25px;
}
.blogList li .readmore i{
	margin-left:5px;
}
.blogList li .readmore:hover {
	text-decoration: none;
	background: #333;
}
/*Pagination*/
.pagiWrap .showreslt {
	font-size: 14px;
	font-weight: 600;
	margin-top: 10px;
}
.pagiWrap .pagination {
	text-align: right;
	margin: 0;
}
.pagination>li:first-child>a, .pagination>li:first-child>span, .pagination>li:last-child>a, .pagination>li:last-child>span {
	border-radius: 0;
}
/*Side bar*/
.sidebar {
	background: #f9f9f9;
	border: 1px solid #eee;
	padding: 20px;
	margin-bottom: 30px;
}
.sidebar .widget {
	margin-bottom: 20px;
	border-bottom: 1px solid #eee;
	padding-bottom: 20px;
}
.sidebar .widget-title {
	font-size: 18px;
	font-weight: 600;
	color: #666;
	margin-bottom: 20px;
}
/*Sidebar Search*/
.search {
	position: relative;
	margin-bottom: 15px;
}
.search .form-control {
	border-radius: 0;
	height: auto;
	padding: 10px 12px;
	border-color: #ddd;
}
.search .btn {
	position: absolute;
	right: 0;
	top: 0;
	border-radius: 0;
	background: none;
	font-size: 20px;
}
/*categories*/
.categories li {
	margin-bottom: 15px;
	position: relative;
	padding-left: 17px;
}
.categories li a {
	margin-top: 0;
	color: #888;
	font-size: 14px;
	font-weight: 600;
}
.categories li a:hover {
	color: #000;
}
.categories li:before {
	content: "\f0da ";
	font-family: 'FontAwesome';
	position: absolute;
	left: 0px;
	color: #f9c200;
	font-size: 12px;
}
/*Archives*/
.archive li {
	line-height: 45px;
}
.archive li a {
	margin-top: 0;
	color: #888;
	font-size: 14px;
	font-weight: 600;
}
.archive li span {
	float: left;
	height: 30px;
	width: 30px;
	text-align: center;
	background: #f5f5f5;
	border: 1px solid #fff;
	outline: 3px solid #f5f5f5;
	margin-right: 20px;
	line-height: 26px;
	font-size: 12px;
	color: #777777;
	margin-top: 10px;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
.archive li a:hover span {
	background: #f9c200;
	color: #fff;
}
/*Popular Posts*/
.papu-post {
}
.papu-post .media-left {
	margin-right: 0px;
}
.papu-post .media-left img {
	width: 100%;
}
.papu-post .media-left a {
	width: 80px;
	margin-top: 0;
	margin-right: 5px;
	display: inline-block;
}
.papu-post span {
	color: #f9c200;
	letter-spacing: 0px;
	font-size: 11px;
}
.papu-post li {
	border-bottom: 1px solid #ececec;
	padding: 20px 0;
	margin: 0px;
}
.papu-post .media-heading {
	display: inline-block;
	width: 100%;
	color: #777777;
	margin-top: 0px;
	font-size: 14px;
	line-height: 20px;
}
.papu-post li:last-child {
	border-bottom: 0;
}
/*Tags*/
.tags:after {
	display: table;
	clear: both;
	content: '';
}
.tags li {
	display: inline-block;
	float: left;
}
.tags a {
	font-size: 13px;
	color: #969595;
	border: 1px solid #dadada;
	padding: 7px 10px;
	display: inline-block;
	margin-right: 5px;
	margin-bottom: 5px;
	text-transform: uppercase;
	background: #fff;
}
.tags a:hover {
	border: 1px solid #f9c200;
	background: #f9c200;
	color: #fff;
	text-decoration: none;
}
/*Photo Streen*/
.photo-steam {
	margin: 0 -5px;
}
.photo-steam:after {
	display: table;
	clear: both;
	content: '';
}
.photo-steam li {
	float: left;
	width: 25%;
	padding: 0 5px;
	margin-bottom: 10px;
}
.blogdetailbox .date {
	margin-top: 15px;
	border-bottom: 1px solid #eee;
	padding-bottom: 15px;
}
.blogdetailbox p {
	font-size: 14px;
}
/*Comments*/
blockquote {
	display: block;
	font-size: 16px;
	line-height: 24px;
	margin: 20px 0;
	padding: 20px 20px 20px 60px;
	position: relative;
	border: 3px solid #f9c200;
	box-shadow: 0 0 12px rgba(0,0,0,0.2);
}
blockquote p {
	font-style: italic;
	display: inline-block;
	color: #000;
}
blockquote:before {
	color: #ddd;
	content: "\f10d";
	font-family: 'FontAwesome';
	font-size: 22px;
	font-style: normal;
	left: 24px;
	position: absolute;
	top: 20px;
	transform: scale(-1);
}
blockquote:after {
	color: #ddd;
	content: "\f10e";
	display: inline-block;
	font-family: 'FontAwesome';
	font-size: 22px;
	font-style: normal;
	margin: 0 0 0 8px;
	position: relative;
	top: 3px;
}
.comments h4 {
	color: #222222;
	font-size: 24px;
	font-weight: 600;
}
.comments .media-body h4 span {
	font-size: 12px;
	color: #777777;
	margin-left: 20px;
	display: inline-block;
	width: 100%;
}
.comments {
	margin-top: 30px;
}
.comments .media-list {
	margin-bottom: 30px;
}
.comments .media-list li {
	padding: 20px;
	border: 1px solid #e9e9e9;
	position: relative;
	background: #fff;
}
.comments .media-left {
	margin-right: 20px;
}
.comments .media-left a {
	width: 100px;
	display: inline-block;
}
.comments .media p {
	margin-top: 5px;
	color: #333;
	line-height: 20px;
	font-size: 14px;
}
.comments .media h6 span {
	font-size: 13px;
	color: #999;
	margin: 0;
	margin-top: 10px;
	text-transform: none;
	display: inline-block;
	width: 100%;
}
.comments .media {
	margin-top: 30px;
}
.comments .media h6 {
	font-weight: 600;
	color: #00b1f1;
	font-size: 16px;
	text-transform: none;
}
.margin-left80 {
	margin-left: 80px;
}
.comments .btn.raply {
	padding: 10px 12px;
	font-size: 12px;
	color: #333;
	background: #f5f5f5;
	border: none;
	border-radius: 0;
	position: absolute;
	top: 15px;
	right: 0;
}
.comments .btn.raply:hover {
	background: #00b1f1;
	color: #fff;
}
.comments .media a img {
	margin-bottom: 10px;
}
.commnetsfrm {
	background: #fff;
	padding: 25px;
	box-shadow: 0 0 15px rgba(0,0,0,0.1);
}
.comments form label {
	text-transform: uppercase;
	font-weight: normal;
	margin-top: 20px;
	display: inline-block;
	width: 100%;
	font-size: 12px;
}
.comments form .form-control {
	display: inline-block;
	width: 100%;
	height: 40px;
	margin-top: 5px;
	border-radius: 0px;
	box-shadow: none;
	background: none;
	border: 1px solid #e8e8e8;
}
.comments form textarea.form-control {
	display: inline-block;
	width: 100%;
	height: 150px;
}
.commnetsfrm .btn {
	background: #f9c200;
	color: #fff;
	font-weight: 700;
	margin-top: 20px;
	font-size: 18px;
	padding: 10px 25px;
	cursor: pointer;
	border-radius: 0px;
}
.innercms {
	padding: 50px 0;
}
.pageTitle {
	background: url(../images/home-bg.jpg) no-repeat top;
	background-size: cover;
	text-align: center;
	padding: 120px 0 50px 0;
}
.pageTitle h1 {
	color: #fff;
	margin: 0;
}
.pagiWrap {
	margin-top: 40px;
	text-align: right;
}
.pagiwrap .page-link {
	margin: 0 5px;
	border-radius: 0px !important;
	color: #000;
}
.page-item:last-child .page-link, .page-item:first-child .page-link {
padding:.5rem 1.5rem;
}
.page-item.active .page-link {
	background: #f9c200;
	border-color: #f9c200;
}


/*---------------------------------------
   Mobile Responsive styles              
-----------------------------------------*/
@media (max-width: 1024px) {
.custom-navbar .nav li a {
	padding: 10px 15px;
}
.custom-navbar .navbar-brand {
	font-size: 24px;
	line-height: 24px;
}
.navbar-right {
	margin-top: 10px;
}
.stcontent, .fullimg {
	float: none;
	width: auto;
}
.fullimg {
	height: 350px;
	margin: 30px 30px 0 30px;
}
}
@media (max-width: 990px) {
h1 {
	font-size: 52px;
}
.is-sticky .navbar-brand {
	display: none;
}
.custom-navbar .nav li a {
	padding: 0px 15px;
}
.custom-navbar .nav li .calltxt {
	margin-top: 0;
	padding: 7px 15px
}
.is-sticky .custom-navbar .nav li .calltxt {
	margin-top: 0;
}
.navbar-header {
	float: none;
	text-align: center;
}
.navbar-brand {
	float: none;
	display: inline-block;
}
.custom-navbar {
	border-bottom: 1px solid rgba(255,255,255,0.3);
	padding-bottom: 30px;
}
.is-sticky .custom-navbar {
	padding-bottom: 10px;
}
.is-sticky .custom-navbar .nav li a {
	padding: 10px 15px;
}
.pageTitle {
	padding-top: 170px;
}
.image-popup{display:block; margin:30px 0;}
.servicesbox {
	padding: 60px 30px;
}
.servicesbox h3 {
	font-size: 30px;
}
#counter .counter-number {
	font-size: 48px;
}
#service .service-thumb-first, #service .service-thumb-second {
	margin-bottom: 32px;
}
ul.orderlist li {
	float: none;
	width: auto;
}
#team .team-thumb {
	margin-bottom: 30px;
}
.postimg {
	margin-top: 30px;
	margin-bottom: 30px
}
.newsletter, #blog, #work {
	padding: 50px 15px;
}
.taglinewrap {
	padding: 50px 15px;
}
}
 @media (max-width: 880px) {
.portfolio-grid li .itemtitle p {
	font-size: 14px;
	line-height: 22px;
}
.portfolio-grid li .itemtitle {
	padding: 10px;
}
}
 @media (max-width: 768px) {
h1 {
	font-size: 48px;
}
#counter .counter-item {
	margin-top: 28px;
	margin-bottom: 28px;
}
}
 @media (max-width: 767px) {
.navbar-header {
	text-align: left;
}
.custom-navbar {
	border-bottom: 0;
	padding-bottom: 0;
}
.sticky-wrapper, .navbar-collapse.in {
	z-index: 100000;
}
.is-sticky .navbar-collapse.in {
	background: #eee;
}
.is-sticky .navbar-brand {
	display: block;
}
.custom-navbar .navbar-brand {
	line-height: 15px;
}
.custom-navbar .nav li .calltxt {
	border-left: 0;
}
.slide-text{margin-top:80px;}
#home {
	min-height: 500px;
}
.bformBox {
	margin-top: 15px;
}
.vehiclesList ul li h3, .vehiclesList ul li .subtitle, .vehiclesList ul li .carPrice {
	text-align: center;
}
.vehiclesList ul li .subtitle:after {
	left: 50%;
	margin-left: -20px;
}
.pageTitle {
	padding-top: 90px;
}
.margin-left80 {
	margin-left: 0;
}
#about .about-desc {
	margin-bottom: 32px;
}
#address .address-phone {
	margin-top: 22px;
	margin-bottom: 22px;
}
#team .team-thumb {
	margin-bottom: 30px;
}
.is-sticky .custom-navbar .nav li a {
	line-height: 30px;
}
#service .service-thumb {
}
#counter .counter-number {
	font-size: 48px;
}
.parallax-section, #about, #packages {
	padding: 80px 15px;
}
.videowraper, .howitwrap {
	padding: 50px 15px;
}
.howlist li .iconcircle {
	margin-bottom: 50px;
}
}
 @media (max-width: 580px) {
h1 {
	font-size: 29px
}
h2 {
	font-size: 24px;
	line-height: 42px;
}
h3 {
	font-size: 12px;
	letter-spacing: 2px;
}
}
 @media (max-width: 350px) {
#about .team-wrapper .team-desc {
	padding-top: 14em;
}
}
